.*/
.DS_Store
.DS_Store?
**/.DS_Store
**/.DS_Store?
Minería de datos/mdGItHub
Aplicaciones y casos de uso empresarial/acueGitHub
Internet de las cosas en el contexto de bIg data/idcGItHub
Docs
Aplicaciones y casos de uso empresarial/Practica/Datos