.*/
.DS_Store
.DS_Store?
**/.DS_Store
**/.DS_Store?
Aprendizaje estadístico/Apuntes/build
Aprendizaje estadístico/Apuntes/fotos
Aprendizaje estadístico/Apuntes/tex
Aprendizaje estadístico/Apuntes/ClassThesis.cls
Aprendizaje estadístico/Apuntes/main.tex
Aprendizaje estadístico/Apuntes/references.bib
